@media (max-width: 450px){    
    .button{
        font-size: 60%;
        margin-right: 5px;
        border-radius: 30%;
        cursor: pointer;
        outline: none;
    }
    
    .button2{
        font-size: 60%;
        margin-right: 5px;
        border-radius: 30%;
        cursor: pointer;
        outline: none;
    }
}

@media (min-width: 450px){
    .order{
        display: flex;
        justify-content: space-between;
    }
    
    .button{
        margin-right: 5px;
        border-radius: 30%;
        cursor: pointer;
        outline: none;
    }
    
    .button2{
        margin-right: 5px;
        border-radius: 30%;
        cursor: pointer;
        outline: none;
    }
}


